[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
psycopg = {extras = ["binary"], version = "*"}
python-dotenv = "*"
pylint-django = "*"
djangorestframework = "*"

[dev-packages]
django-stubs = "*"
djangorestframework-stubs = "*"
pyrefly = "*"
isort = "*"

[requires]
python_version = "3.14"
